@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font: 500 20px Arial;
}

    body {
        background-color: rgb(31, 91, 253);
        margin: 20px;
    }

h1 {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

h2 {
    padding: 10px;
    text-align: center;
}

section {
    background-color: white;
    margin: 20px auto;
    width: 400px;
    height: 270px;
    border-radius: 10px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.637);
}

img {
    display: block;
    margin: 10px auto;
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

p {
    text-align: center;
    color: white;
    font-size: 18px;
}